/* Main */
html{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("images/bg-1.jpg") ;
    /* -webkit-animation: background_image 480s infinite;
    -moz-animation: background_image 480s infinite;
    -o-animation: background_image 480s infinite;
    animation: background_image 480s infinite;*/
}

body {
    font-size: 15px;
    margin: 15px 0 0 0 auto;
    padding: 10px 0 10px 0;
    /* background-color: #f7f7f7 !important; */
    background: rgba(255, 255, 255, 0.2) !important;
}

/* Changing Backgrounds*/
/* @keyframes background_image {
    0% {
    }

    25% {
        background-image: url("images/bg-2.jpg") ;
    }

    50% {
        background-image: url("images/bg-3.jpg") ;
    }

    75% {
        background-image: url("images/bg-4.jpg") ;
    }

    100% {
        background-image: url("images/bg-1.jpg") ;
    }

} */

/*Quote Box*/

/* .main_box{
    animation-duration: 2s;
} */

/* .container-fluid{
    background-size: cover;
    background: rgba(255, 255, 255, 0.3);
} */

/* .col-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0px !important;
} */

.quote_box {
    /* margin-top: 3%; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 10px 10px 1px 10px;
	background-color: rgba(255, 255, 255, 0.9);
	border-width: 1px;
	width: 90%;
	border-radius: 0.8%;
}

.logo {
    height: 75px;
    width: 75px;
}

#quote {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
}

.author {
    font-family: 'Quicksand', sans-serif;
    color: rgba(21, 104, 180, 1);
    font-size: 2em;
    margin-right: 5%;
}

blockquote {
    font-family: 'Quicksand', sans-serif;
    margin: 10px 40px 0px 30px;
    padding: 20px 60px;
    position: relative;
    border: none;
    /* border-radius: 8px; */
    color: rgba(0, 0, 0, 0.8);
}

blockquote:before,
blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 5em;
    line-height: 1;
    font-style: normal;
}

blockquote:before {
    top: 0;
    left: 10px;
}

blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}

/* Next Quote Button*/

.next_button:hover,
.next_button button:hover {
    color: white;
}

.next_button button {
    background-color: rgba(21, 104, 180, 1);
    color: white;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 0px 0px 250px 25px !important;
    font-size: 1.6em;
    font-family: 'Quicksand', sans-serif;
}

.pop {
    position: absolute;
    transform: rotate(18deg);
    margin-top: -3%;
    margin-left: 10%;
    width: 70px;
    height: 100px;
    background: rgba(21, 104, 180, 1);
    border-radius: 5% 5% 100% 0%;
    margin-bottom: 3%;
}

/* Responsive */

@media screen and (max-width: 1600px) {
    body {
        font-size: 17px;
    }
}

@media screen and (max-width: 1400px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 15px;
    }

    /* .quote_box {
        margin-top: 10%;
    } */

}

@media screen and (max-width: 1000px) {
    body {
        overflow: auto;
        font-size: 14px;
    }

    /* .quote_box {
        margin-top: 12%;
    } */

    .pop {
        width: 70px;
        height: 80px;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }

    /* .quote_box {
        margin-top: 15%;
    } */

    .pop {
        width: 60px;
        height: 70px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }

    /* .quote_box {
        margin-top: 18%;
    } */

    .pop {
        width: 50px;
        height: 60px;
    }
}

@media screen and (max-width: 400px) {
    body {
        font-size: 8px;
    }

    /* .quote_box {
        margin-top: 20%;
    } */

    .pop {
        width: 40px;
        height: 50px;
    }
}
